In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/home/drosophila-lab/Documents/Fecundity/CNN-Classifier/TestNoZeros/no_0_training_vs_CD_0_testing.csv")

In [4]:
sum((df.iloc[:, 1] != 1) & (df.iloc[: , 2] == 0))

73

In [6]:
sum((df.iloc[:, 1] == 1) & (df.iloc[: , 2] == 0))

5250

In [7]:
sum((df.iloc[:, 1] != 1000) & (df.iloc[: , 2] != 1000))

5323

In [5]:
# df.loc[((df.iloc[:,1] != 0) & (df.iloc[:,2] == 0)),:]

df.loc[((df.iloc[:, 1] != 1) & (df.iloc[: , 2] == 0))]

                     ImagePath  Bot  Human
72     eggs0countC1 1 pt52.jpg    4      0
155   eggs0countC1 14 pt18.jpg    2      0
353   eggs0countC1 58 pt29.jpg    2      0
403   eggs0countC1 53 pt51.jpg    2      0
414   eggs0countC1 32 pt60.jpg    2      0
...                        ...  ...    ...
5140  eggs0countC1 33 pt32.jpg    2      0
5180  eggs0countC1 39 pt83.jpg    2      0
5199   eggs0countC1 20 pt1.jpg    2      0
5267  eggs0countC1 58 pt88.jpg    2      0
5308  eggs0countC1 51 pt41.jpg    4      0

[73 rows x 3 columns]